@model IEnumerable<TVShowModel>


@foreach (var tvShow in Model)
{
    if (tvShow.PosterPath != null)
    {
        <div id="tvShow">
            <form asp-action="AddTVShowToWishList" method="post">
                <img src="https://image.tmdb.org/t/p/w500/@tvShow.PosterPath" alt="tvShow Image" />
                <input type="hidden" name="name" asp-for="@tvShow.Name" />
                <input type="hidden" name="originalName" asp-for="@tvShow.OriginalName" />
                <input type="hidden" name="overview" asp-for="@tvShow.Overview" />
                <input type="hidden" name="posterPath" asp-for="@tvShow.PosterPath" />
                <input type="hidden" name="backdropPath" asp-for="@tvShow.BackdropPath" />
                <input type="hidden" name="firstAirDate" asp-for="@tvShow.FirstAirDate" />
                <input type="hidden" name="voteAverage" asp-for="@tvShow.VoteAverage" />
                <input type="hidden" name="voteCount" asp-for="@tvShow.VoteCount" />
                <input type="hidden" name="popularity" asp-for="@tvShow.Popularity" />

                <h3>@tvShow.Name </h3>
                <p>@tvShow.OriginalName</p>
                <p>@tvShow.VoteAverage</p>
                <button type="submit" class="btn btn-primary">Add to Wishlist</button>
            </form>
        </div>




    }
}
