@model MovieViewModel

@{
    string methodName = "RemoveMovieFrom" + Model.MovieListType;
}


<div class="row">
    <strong>
        Total movie count is "@Model.Movies.Count"
    </strong>
    @foreach (var movie in Model.Movies)
    {
        if (movie.BackdropPath != null)
        {
            <div class="col-md-3">
                <div id="movie">
                    <form method="post">
                        <img src="@movie.BackdropPath" alt="movie Image" />
                        <input type="hidden" name="id" asp-for="@movie.Id" />

                        <h4>@movie.Title </h4>
                        <p>@movie.Popularity</p>
                        <p>@movie.VoteAverage</p>
                        @if (Model.MovieListType == "Wishlist")
                        {
                            <button type="submit" class="btn btn-primary btn-sm mb-2" asp-action="MoveMovieToWatchedlist"> Move to watchedlist</button>

                        }
                        <button type="submit" class="btn btn-danger btn-sm mb-2" asp-action="@methodName">Remove from @Model.MovieListType </button>
                    </form>
                </div>
            </div>
        }
    }
</div>