@model TVShowViewModel
@{
    string methodName = "RemoveTVShowFrom" + Model.TVShowListType;
}

<div class="row">
    <strong>
        Total tvshow count is "@Model.TVShows.Count"
    </strong>
    @foreach (var tvShow in Model.TVShows)
    {
        if (tvShow.BackdropPath != null)
        {
            <div class="col-md-3">
                <div id="tvShow">
                    <form method="post">
                        <img src="@tvShow.BackdropPath" alt="tvShow Image" />
                        <input type="hidden" name="id" asp-for="@tvShow.Id" />
                        <h4>@tvShow.Name </h4>
                        <p>@tvShow.OriginalName</p>
                        <p>@tvShow.VoteAverage</p>
                        @if (Model.TVShowListType == "Wishlist")
                        {
                            <button type="submit" class="btn btn-primary btn-sm mb-2" asp-action="MoveTVShowToWatchedlist"> Move to watchedlist</button>

                        }
                        <button type="submit" class="btn btn-danger btn-sm mb-2" asp-action="@methodName">Remove from @Model.TVShowListType </button>
                    </form>
                </div>
            </div>
        }
    }
</div>