@model TVShowViewModel
@{
    string methodName = "RemoveTVShowFrom" + Model.TVShowListType;
}

<div class="row">
    @foreach (var tvShow in Model.TVShows)
    {
        if (tvShow.PosterPath != null)
        {
            <div class="col-md-3">
                <div id="tvShow">
                    <form asp-action="RemoveTVShowFromWishList" method="post">
                        <img src="@tvShow.PosterPath" alt="tvShow Image" />
                        <input type="hidden" name="id" asp-for="@tvShow.Id" />
                        <h3>@tvShow.Name </h3>
                        <p>@tvShow.OriginalName</p>
                        <p>@tvShow.VoteAverage</p>
                        <button type="submit" class="btn btn-danger" asp-action="@methodName">Remove from @Model.TVShowListType </button>
                    </form>
                </div>
            </div>
        }
    }
</div>