@model TVShowModel



<input type="hidden" name="id" asp-for="@Model.Id" />
<input type="hidden" name="realId" asp-for="@Model.RealId" />
<input type="hidden" name="name" asp-for="@Model.Name" />
<input type="hidden" name="originalName" asp-for="@Model.OriginalName" />
<input type="hidden" name="overview" asp-for="@Model.Overview" />
<input type="hidden" name="posterPath" asp-for="@Model.PosterPath" />
<input type="hidden" name="backdropPath" asp-for="@Model.BackdropPath" />
<input type="hidden" name="firstAirDate" asp-for="@Model.FirstAirDate" />
<input type="hidden" name="voteAverage" asp-for="@Model.VoteAverage" />
<input type="hidden" name="voteCount" asp-for="@Model.VoteCount" />
<input type="hidden" name="popularity" asp-for="@Model.Popularity" />


<h4>@Model.Name </h4>
<p>@(Model.FirstAirDate)</p>
<p><i class="fa fa-star" aria-hidden="true"></i> @Model.VoteAverage</p>
