@model IEnumerable<MovieWatchList>


<div class="row">
    @foreach (var movie in Model)
    {
        if (movie.BackdropPath != null)
        {
            <div class="col-md-3">
                <div id="movie">
                    <form asp-action="RemoveMovieFromWishList" method="post">
                        <img src="@movie.BackdropPath" alt="movie Image" />
                        <input type="hidden" name="id" asp-for="@movie.Id" />

                        <h3>@movie.Title </h3>
                        <p>@movie.Popularity</p>
                        <p>@movie.VoteAverage</p>
                        <button type="submit" class="btn btn-danger">Remove from Watchedlist</button>
                    </form>
                </div>
            </div>
        }
    }
</div>