@model IEnumerable<MovieWatchList>




@foreach (var movie in Model)
{
    if (movie.PosterPath != null)
    {
        <div id="movie">
            <form asp-action="RemoveMovieFromWishList" method="post">
                <img src="@movie.PosterPath" alt="movie Image" />
                <input type="hidden" name="id" asp-for="@movie.Id" />
                
                <h3>@movie.Title </h3>
                <p>@movie.Popularity</p>
                <p>@movie.VoteAverage</p>
                <button type="submit" class="btn btn-danger">Remove from Wishlist</button>
            </form>
        </div>




    }
}