@model IEnumerable<WantToRead>




@foreach (var book in Model)
{

    <div id="book">
        <form asp-action="RemoveBookFromWishList" method="post">
            <img src="@book.Thumbnail" alt="book Image" />
            <input type="hidden" name="id" asp-for="@book.Id" />

            <h3>@book.Title </h3>
            <p>@book.AverageRating</p>
            <p>@book.PageCount</p>
            <button type="submit" class="btn btn-danger">Remove from Wishlist</button>
        </form>
    </div>


}